
body, html {text-align:center;}
h1 {background-color:#000;color:#fff;margin:0;}
/*a img {border:0;}*/
td {font-size:10px;}
.image {background-color:#eee;border:1px solid #ddd;border-bottom:1px solid #bbb;padding:5px;
